PORT=8080
BOT_TOKEN=8695237423:AAE4DhsDEgMld9xvF6jBt_b3m8zCwVesumc
BOT_USERNAME=TMPCSTESTBOT
WEBAPP_URL=https://justalex1922-beep.github.io/testsiteforminiapp.github.io/
DB_PATH=./data/app.db
MAX_SUPPLY=1000000
REF_BONUS=150

